# Database
MYSQL_PASSWORD=
MYSQL_DATABASE=cms
MYSQL_USER=cms
MYSQL_RANDOM_ROOT_PASSWORD=yes

# SMTP
CMS_SMTP_SERVER=cms-smtp:1025
CMS_SMTP_USERNAME=xibo@cardinalbier-import.ch
CMS_SMTP_PASSWORD=
CMS_SMTP_USE_TLS=YES
CMS_SMTP_USE_STARTTLS=YES
CMS_SMTP_FROM_LINE_OVERRIDE=YES
CMS_SMTP_FROM=xibo@cardinalbier-import.ch

# Usage Report
CMS_USAGE_REPORT=false

#XMR
XMR_HOST=cms-xmr

# Memcached
CMS_USE_MEMCACHED=true
MEMCACHED_HOST=cms-memcached